In [1]:
import pandas as pd

import spacy
from spacy import displacy

In [2]:
nlp = spacy.load(r'C:/Users/Namwater/anaconda3/Lib/site-packages/en_core_web_sm/en_core_web_sm-2.3.1')

In [3]:
nlp.pipe_names

['tagger', 'parser', 'ner']

In [8]:
conv = pd.read_csv('D:/DSBA/Project/Final-Project-2/data/Text files/text.csv')

In [9]:
conv.head()

                                            Sentence
0  Hello, you have called Virtual bank, this is N...
1  Hello, you have called Virtual bank, this is L...
2  Hello, you have called Virtual bank, this is M...
3  Hello, you have called Virtual bank, this is H...
4  Hello, you have called Virtual bank, this is L...

In [10]:
gen_pii = pd.read_csv('D:/DSBA/Project/Final-Project-2/data/Text files/train_text_with_pii_2020_10_18_16_36_29_513505.csv')

In [11]:
gen_pii.head()

,Text,Labels,PII
0,Suite 426 Produce education hand statement. St...,Address,Suite 426
1,252 Kelly Camp Imagine food analysis so. Reall...,Address,252 Kelly Camp
2,Education poor interview society on nice simpl...,Address,"9202 Jennifer Valleys Suite 890 Port Sara, ID ..."
3,Practice enough Apt. 480 learn instead read ro...,Address,Apt. 480
4,Cause example so serious mention. Reflect Amer...,Address,Suite 072

In [12]:
for ent in nlp(gen_pii['Text'][4]).ents:
    print(f'{ent.label_.upper():{10}} - {ent.text}')

NORP       - American
CARDINAL   - 072

In [18]:
inp_text = conv['Sentence'][0].lower()
doc = nlp(inp_text)

# for ent in doc.ents:
    # print(ent.text, ent.start_char, ent.end_char, ent.label_)
    
new_tokens = []

for token in doc:
    # print("Text: "+ token.text + " Entity: "+ token.ent_type_ + token.ent_iob_)
    if not token.ent_type_:
        new_tokens.append(token.text)
    else:
        new_tokens.append('xxxx')
        
new_text = ' '.join(new_tokens)
print("new Text->", new_text)

new Text-> hello , you have called virtual bank , this is nancy speaking . how may i help you ?
 oh , i just had withdrawn some cash from the xxxx xxxx and xxxx transaction failed but money got debited . can you fix this problem ?
 sure . what is your account number ?
 it is xxxx .
 just a moment … . okay and what is your name ma’am ?
 my name is sandra reed .
 okay , miss reed . can i have your identify number ?
 okay . xxxx .
 okay . i have xxxx .
 correct .
 where is the xxxx machine that you had withdrawn the cash ?
 i do not know where exactly it is , but it is in the xxxx xxxx .
 that is fine , we will check your withdrawal transaction and we will refund the money to your account . do you want to receive the message when we refunding the money ?
 yes , please .
 okay , what is your phone number ma’am ?
 xxxx .
 okay , i have xxxx . we will send the message when we refund the money to your account .
 thanks , xxxx .
 have xxxx xxxx xxxx ma’am . thank you .

In [ ]:
sent = conv['Sentence'][1]
sent

### Sentence Segmentation

In [ ]:
doc = nlp(sent)

In [ ]:
for sent in doc.sents: 
    print(sent)

### Predefined named entities

In [ ]:
for ent in doc.ents:
    print(f'{ent.label_.upper():{10}} - {ent.text}')

In [ ]:
# Explanation of all ner
print(f'PERSON - {spacy.explain("PERSON")}')
print(f'GPE    - {spacy.explain("GPE")}')
print(f'DATE   - {spacy.explain("DATE")}')
print(f'MONEY  - {spacy.explain("MONEY")}')
print(f'ORG  - {spacy.explain("ORG")}')
print(f'CARDINAL  - {spacy.explain("CARDINAL")}')

More predefined named entites present in spacy: https://spacy.io/api/annotation#named-entities

In [ ]:
# Extracting all PERSON named entities.

for ent in doc.ents:
    if ent.label_.upper() == 'PERSON':
        print(f'{ent.label_.upper():{10}} - {ent.text}')

In [ ]:
for ent in doc.ents:
    if ent.label_.upper() == 'ORG':
        print(f'{ent.label_.upper():{10}} - {ent.text}')

ORG named entities are also labelled incorrect.

In [ ]:
displacy.render(doc, style = "ent")

***

### Creating custom NER

In [ ]:
ner = nlp.get_pipe("ner")

In [ ]:
# training data
Train_data = [
              ("It is 6102651715", {"entities": [(6, 16, "CARDINAL")]}),
              ("That is A-P-P-L-E-B-A-U-M.", {"entities": [(8, 18, "PERSON")]}),
              ("C-L-A-R-K-S-O-N.", {"entities": [(0, 16, "PRODUCT")]}),
              ("I ordered this from ShopClues", {"entities": [(20,29, "ORG")]}),
              ("Fridge can be ordered in Amazon ", {"entities": [(0,6, "PRODUCT")]}),
              ("I bought a new Washer", {"entities": [(16,22, "PRODUCT")]}),
              ("I bought a old table", {"entities": [(16,21, "PRODUCT")]}),
              ("I bought a fancy dress", {"entities": [(18,23, "PRODUCT")]}),
              ("I rented a camera", {"entities": [(12,18, "PRODUCT")]}),
              ("I rented a tent for our trip", {"entities": [(12,16, "PRODUCT")]}),
              ("I rented a screwdriver from our neighbour", {"entities": [(12,22, "PRODUCT")]}),
              ("I repaired my computer", {"entities": [(15,23, "PRODUCT")]}),
              ("I got my clock fixed", {"entities": [(16,21, "PRODUCT")]}),
              ("I got my truck fixed", {"entities": [(16,21, "PRODUCT")]}),
              ("Flipkart started it's journey from zero", {"entities": [(0,8, "ORG")]}),
              ("I recently ordered from Max", {"entities": [(24,27, "ORG")]}),
              ("Flipkart is recognized as leader in market",{"entities": [(0,8, "ORG")]}),
              ("I recently ordered from Swiggy", {"entities": [(24,29, "ORG")]})
              ]

***

In [ ]:
print([t.text if not t.ent_type_ else t.ent_type_ for t in doc])